*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}
h1{
    background-image: url("../img/sobre-background.jpg");
    padding: 10px;
    
}
h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}
#centro-distribuicao{
    margin: 0 auto;
    width: 650px;
}
figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    margin: 30px;
   }
   figcaption {
    font-style: italic;
    margin-top: 10px;
   }

p{
font-family: monospace ;
    padding: 0 45px;
    font-size: 15px;
    text-indent: 25px;
}
#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 104px;
}
#familia-pelho{
    float: left;
    margin: 0 0 10px 10px;
}